<div style="justify-content: center;">

    <h1>{{ page.title }}</h1>
    {% assign year_one = page.date | date: "%Y" %}
    {% assign year_two = page.to_date | date: "%Y" %}
    {% assign month_one = page.date | date: "%-m" %}
    {% assign month_two = page.to_date | date: "%-m" %}
    {% assign day_one = page.date | date: "%-d" %}
    {% assign day_two = page.to_date | date: "%-d" %}
    {% if year_one == year_two %}
        {% if month_one == month_two %}
            {% if day_one == day_two %}
                <h3>{{ page.date | date: "%-d, %B %Y" }}</h3>
            {% else %}
                <h3>{{ day_one }}-{{ page.to_date | date: "%-d, %B %Y" }}</h3>
            {% endif %}
        {% else %}
            <h3>{{ page.date | date: "%-d, %B" }}-{{ page.to_date | date: "%-d, %B %Y" }}</h3>
        {% endif %}
    {% else %}
    <h3>{{ page.date | date: "%-d, %B %Y" }} - {{ page.to_date | date: "%-d, %B %Y" }}</h3>
    {% endif %}
    <h3>Time - {{ page.date | date: "%H:%M" }} to {{ page.to_date | date: "%H:%M" }}</h3>
    <!-- <h3>{{ page.date | date: "%-d %B %Y %H:%M" }} - {{ page.to_date | date: "%-d %B %Y %H:%M" }}</h3> -->
    <a href="{{ page.link }}">{{ page.link }}</a>
    <hr>
    {{ content }}

</div>
